################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Syllables_master/.vs/Sklady/FileContentIndex
